@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('../fonts/Cardo-Regular.eot');
  src: url('../fonts/Cardo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cardo-Regular.woff') format('woff'),
    url('../fonts/Cardo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AgentC';
  src: url('../fonts/AgentC.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/AgentC.woff') format('woff'), 
  url('../fonts/AgentC.ttf')  format('truetype'), 
  url('../fonts/AgentC.svg#AgentC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?2eknho');
    src:    url('../fonts/icomoon.eot?2eknho#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?2eknho') format('truetype'),
        url('../fonts/icomoon.woff?2eknho') format('woff'),
        url('../fonts/icomoon.svg?2eknho#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-basket:before {
    content: "\e900";
}
.icon-pencil:before {
    content: "\e902";
}
.icon-cloud-check:before {
    content: "\e903";
}
.icon-plus:before {
    content: "\e906";
}
.icon-cancel-circle:before {
    content: "\e901";
}
.icon-checkmark:before {
    content: "\e904";
}
.icon-sort-amount-desc:before {
    content: "\e905";
}

html, body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: transparent url(../images/main-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*padding-top: 60px;*/
}

p {
    font-family: 'Cardo';
}

h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 500;
}

header div {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

header div ul {
  padding: 0;
  float: right;
  display: block;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 60px;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  z-index: 1000;
}


header div ul:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

header div ul:before {
  position: absolute;
  top: -60px;
  right: 0;
  display: inline-block;
  width: 60px;
  line-height: 60px;
  text-align: center;
}

header div ul:hover:before {
  color: white;
}

header div ul li {
  display: none;
  line-height: 45px;
  margin: 0;
  padding: 0 20px;
  min-width: 80px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  display: none;
  font-family: monospace;

}

header div ul:hover li {
  display: block;
}

header div ul li:hover {
  background: rgba(255, 255, 255, 0.3);
}

.title {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Amatic SC', cursive;
  font-size: 10vh;

}

.ideas-list {
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 0;
    text-align: center;
}

.idea-item {
    width: 150px;
    height: 150px;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    text-align: left;
    overflow: hidden;       
    position: relative;
}

.idea-title {
  border: none;
  background: none;
  outline: none;
  font-family: 'AgentC';
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  line-height: 1.2;
  box-sizing: border-box;
  max-width: 100%;
  width: 150px;
  resize: none;
  border: none;
}

.idea-title:focus {
  outline: 1px solid grey;
}

.createDate {
  font-size: 9px;
  font-family: monospace;
  line-height: 9px;
  display: block;
  margin: -5px 5px;
  opacity: 0.5;
}

.idea-message {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  width: 140px;
  font-family: 'Cardo';
  font-size: 12px;
  resize: none;
  height: 80px;
  border: none;
  position: relative;
}

.idea-message:focus {
  outline: 1px solid grey;
}


.charcount {
  font-family: monospace;
  font-size: 10px;
  margin: 0 5px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;

}


.idea-message:focus + .charcount {
  opacity: 1;
}

.idea-remove {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
  padding: 6px;
  -webkit-transition: all 0.2s ease-out;
  opacity: 0;
}

.idea-item:hover .idea-remove {
  opacity: 1;
}



.status {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 150px;
  text-align: center;
  color: white;
  background: #27ae60;
  font-family: monospace;
  opacity: 0;
  pointer-events: none;
}

.idea-remove:hover {
  color: #c0392b;
  cursor: pointer;
  text-shadow: 0 2px 3px  rgba(0,0,0,0.5);
  -webkit-transition: all 0.2s ease-out;

}



.idea-item.add {
    border: 1px dashed white;
    position: relative;
    background: none;
    box-shadow: none;
  -webkit-transition: all 0.2s ease-out;
    
}

.idea-item.add:hover {
    background: rgba(255, 255, 255, 0.3);
}




.idea-item.add button{
  background: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  font-size: 35px;
  color: white;

}

.idea-item.add button:after {
    left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}


.idea-item.add:hover button {
  -webkit-transform: rotate(90deg);
}



.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.copyright {
  color: rgba(255, 255,255, 0.5);
  font-family: monospace;
  font-weight: 100;
  position: fixed;
  right: 10px;
  bottom: 10px;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}